@tailwind base;
@tailwind components;

.select-categories__control {
  @apply rounded-r-none !important;
}
/* .select-categories-vendor-signup__control {
  @apply w-full !important;
} */
.select-categories-vendor-signup__control, .select-district__control, .select-listing__control, .select-vendor-manager__control, .select-sorting__control {
  @apply bg-gray-100 border-gray-300 rounded !important; 
}
.select-categories-vendor-signup__placeholder, .select-district__placeholder, .select-listing__placeholder, .select-vendor-manager__placeholder, .select-sorting__placeholder {
  @apply text-left text-xs text-gray-400 !important;
}
.select-location__control, .select-listing__control {
  @apply rounded-none !important;
}
.select-categories__indicator-separator, .select-location__indicator-separator, .select-categories-vendor-signup__indicator-separator, .select-district__indicator-separator, .select-listing__indicator-separator,.select-vendor-manager__indicator-separator, .select-sorting__indicator-separator  {
@apply hidden !important;
}
.select-categories__dropdown-indicator svg, .select-location__dropdown-indicator svg, .select-district__dropdown-indicator svg, .select-listing__dropdown-indicator svg, .select-vendor-manager__dropdown-indicator svg, .select-sorting__dropdown-indicator svg {
  @apply text-gray-400 !important;
}
.select-categories__menu-list, .select-location__menu-list, .select-categories-vendor-signup__menu-list, .select-district__menu-list, .select-listing__menu-list, .select-vendor-manager__menu-list, .select-sorting__menu-list {
  @apply text-theme_secondary rounded-md !important;
}
.select-categories__option--is-selected, .select-location__option--is-selected, .select-categories-vendor-signup__option--is-selected, .select-district__option--is-selected, .select-listing__option--is-selected, .select-vendor-manager__option--is-selected, .select-sorting__option--is-selected {
  @apply bg-theme_secondary text-white !important;
}
.select-categories-vendor-signup__menu {
  @apply w-full !important;
}
.select-location__menu, .select-district__menu {
@apply w-[150%] md:w-[120%] lg:w-full !important;
}
.select-categories__menu {
  @apply w-[120%] md:w-full !important;
}

ul.pagination {
  @apply flex space-x-2 h-5 text-center items-center my-16;
}

ul.pagination>li {
  @apply bg-gray-300 rounded-sm text-lg text-theme_black px-2;
}

ul.pagination>li:hover {
  @apply bg-theme_secondary text-white cursor-pointer;
}
ul.pagination>li.selected {
  @apply bg-theme_secondary text-white cursor-pointer;
}
.multi-range-slider .bar-left, .multi-range-slider .bar-right {
  @apply shadow-none bg-gray-300;
}
.bar-right {
  @apply h-1;
}
.multi-range-slider .bar-left {
  @apply p-0;
}

.multi-range-slider .bar-inner {
  @apply bg-gray-100;
}
.multi-range-slider .thumb::before {
  @apply border-theme_secondary bg-white shadow-none h-4 w-4 -my-[0.4rem];
}
.profile-input {
  @apply rounded-md bg-gray-100 border-gray-300 placeholder:text-gray-400 text-sm px-4 focus:outline-none focus:ring-0 focus:border-gray-300 h-10;
}
.tox-tinymce {
  @apply rounded-md !important;
}
.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  @apply border-none !important;
}
.tox .tox-statusbar {
  @apply hidden !important;
}
#listing-singular-navigation a.active {
  @apply text-theme_secondary;
}
.DatePicker{
  @apply w-full;
}
.DatePicker__input {
  @apply w-full rounded bg-gray-100 border border-gray-200 font-theme_secondary_light text-gray-500 placeholder:text-gray-500 text-left text-sm focus:outline-none focus:ring-0 focus:border-gray-200 !important;
}
.Calendar {
  @apply shadow-none font-theme_secondary_bold;
}
.custom-calendar{
  @apply w-full;
}
.custom-calendar .Calendar__header {
  @apply rounded bg-gray-100 text-theme_black font-theme_secondary_bold h-8;
}
.custom-calendar .Calendar__weekDays {
  @apply font-theme_secondary_bold text-theme_black mt-6;
}
.custom-calendar .Calendar__day.-selectedBetween {
  @apply text-white;
}
.custom-calendar .Calendar__day.-ltr.-selectedStart, .Calendar__day.-ltr.-selectedEnd {
  @apply rounded-none;
}
.custom-calendar .Calendar__weekRow {
  @apply gap-x-1;
}
.custom-calendar {
  @apply text-[9px];
}
@tailwind utilities;

.dashboard {
  background: linear-gradient(
    to bottom,
    theme(colors.gray.100) 0%,
    theme(colors.gray.100) 22rem,
    theme(colors.white) 22rem,
    theme(colors.white) 100%
  );
}


div.tox-promotion {
  display: none !important;
}


@font-face {
  font-family: "Conthrax Bold";
  src: url("/fonts/conthrax/conthrax-sb.ttf");
}

@font-face {
  font-family: "Conthrax Light";
  src: url("/fonts/conthrax/conthrax-light.otf");
}

@font-face {
  font-family: "Akidenz-Grotesk-BQ-Light";
  src: url("/fonts/Akzidenz-Grotesk-BQ-Light_FontYukle/Akzidenz-Grotesk-BQ-Light.ttf");
}

@font-face {
  font-family: "Akidenz-Grotesk-BQ-Bold";
  src: url("/fonts/Akzidenz-Grotesk-BQ-Bold_FontYukle/Akzidenz-Grotesk-BQ-Bold.ttf");
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
